extends base

block content 
  main.main
    .lang-container
      each lang in langs
        .lang
          .lang__header
            .lang__picture
              .lang__picture-overlay &nbsp;
              img(src=`/img/lang/${lang.code}.gif`, alt=`${lang.name}`)
            h3.lang__heading
              span= lang.intro  
          .lang__details
            //- h4.lang__sub-heading= lang.msg
            p.lang__text= lang.message
          .lang__footer 
            h3.lang__footing 
              a(href=`/game/${lang.code}`)= lang.cta