extends base

block content 
  main.main
    h1.page-title= runStrings.title
      h1.page-subtitle= runStrings.subtitle
      form#run-game.form(data-type-id=`${type._id}` data-element-id=`${element._id}` data-element-true=`${destination.nextnodeLeft}` data-element-false=`${destination.nextnodeRight}`)
        .form__group
          - if (!isGuess)
            label#lbl-question.form__label.input__question(for='question')= element.question
            a#button-yes.btn.btn--green.btn--small(href=`/rungame/${type._id}/${element._id}/${destination.operationLeft}/${destination.nextnodeLeft}${query}`)= runStrings.yesString
            a#button-no.btn.btn--green.btn--small(href=`/rungame/${type._id}/${element._id}/${destination.operationRight}/${destination.nextnodeRight}${query}`)= runStrings.noString
          - if (isGuess)
            label#lbl-question.form__label.input__question(for='question')= runStrings.guess
            a#button-yes.btn.btn--green.btn--small(href=`/rungame/${type._id}/${element._id}/${destination.operationLeft}/${destination.nextnodeLeft}${query}`)= runStrings.yesString
            a#button-no.btn.btn--green.btn--small(href=`/rungame/${type._id}/${element._id}/${destination.operationRight}/${destination.nextnodeRight}${query}`)= runStrings.noString